<h2>Мой профиль</h2>
<div>
  <div>
    <p>Добро пожаловать <%= @user.name %> <%= @user.surname %></p>
    <p><%= link_to "Редактировать", edit_user_path(@user) %></p>
  </div>
  <p>У вас
    <% @events = user_events(@user) %>
    <%= @events.count %>
    <%= inclination(@events.count, "предстоящее событие", "предстоящих события", "предстоящих событий") %>
    (сегодня <%= todays_events(@events).count %>)
  </p>
</div>
