<h2 class="title-lg">События</h2>
<p>У вас
  <%= @events.count %>
  <%= inclination(@events.count, "предстоящее событие", "предстоящих события", "предстоящих событий") %>
  (сегодня <%= todays_events(@events).count %>)
</p>
<div>
  <% @events.each do |event| %>
    <div>
      <%= render event %>
    </div>
  <% end %>
  <hr>
  <%= link_to 'Добавить событие', new_event_path %>
</div>
