<!DOCTYPE html>
<html>
  <head>
    <title>EventHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "application" %>
  </head>

  <body>
    <div class="wrapper">
      <nav>
        <div>
          <% if current_user.present? %>
            <div class="nav navbar">
              <a class="nav-link"><%= link_to 'Helper' %></a>
              <a class="nav-link"><%= link_to 'Профиль', users_path %></a>
              <a class="nav-link"><%= link_to 'События', user_events_path(current_user) %></a>
              <a class="nav-link"><%= link_to 'Категории', user_categories_path(current_user) %></a>
              <div>
                <%= "#{current_user.email[0..5]}..." %>
                <%= button_to 'Выйти', session_path, method: :delete %>
              </div>
            </div>
          <% else %>
            <%= link_to 'Регистрация', new_user_path, class: 'button button-yellow mr-sm' %>
            <%= link_to 'Вход', new_session_path, class: 'button button-yellow ' %>
          <% end %>
        </div>

      </nav>
      <hr>
      <% if flash[:notice].present? %>
        <p><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <hr>
      <%= yield %>
    </div>

    </body>
</html>
