<!DOCTYPE html>
<html>
  <head>
    <title>EventHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <p><%= link_to 'Helper', root_path%></p>
        <p><%= link_to 'Home' %></p>
        <p><%= link_to 'Events', events_path %></p>

        <div class="">
          <% if current_user.present? %>
            <%= content_tag 'span', "#{current_user.email}", class: 'mr-sm ' %>
            <%= button_to 'Выйти', session_path, method: :delete %>
          <% else %>
            <%= link_to 'Регистрация', new_user_path, class: 'button button-yellow mr-sm' %>
            <%= link_to 'Вход', new_session_path, class: 'button button-yellow ' %>
          <% end %>
        </div>

      </div>
      <hr>
      <% if flash[:notice].present? %>
        <p><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <hr>
      <%= yield %>
    </div>
    </body>
</html>
